.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  font: 700 1.2em 'helvetica';
  box-shadow: 0px 4px 7px rgba(64, 65, 69, 0.3);
  background-color: #fff;

  .logo {
    margin-left: 20px;
  }

  .container {
    display: flex;
    align-items: center;

    .team {
      display: flex;
      align-items: center;
      border-right: 1px solid #e5e5e5;
      margin-right: 10px;

      li {
        padding-right: 20px;

        :hover {
          color: #00b22d;
        }

        a {
          text-decoration: none;
          color: black;
        }
      }
    }

    .btn-auth {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 50px;
      border-radius: 4px;
      padding: 0 10px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &:hover {
        .userLogo,
        .pseudo {
          fill: #00b22d;
          color: #00b22d;
        }
      }

      &.login {
        .pseudo {
          color: #00b22d;
        }

        .userLogo {
          fill: #00b22d;
        }
      }

      .pseudo {
        font-size: 20px;
        font-weight: 600;
      }

      .userLogo {
        width: 50px;
        height: 50px;
        fill: #000;
        margin-left: 5px;
      }

      &:active {
        transform: translate(1px, 1px);
      }
    }
  }
}
