.header {
  width: 100vw;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  font-family: 'helvetica', sans-serif;
  box-shadow: 0px 4px 7px rgba(64, 65, 69, 0.3);
  .logo {
    width: auto;
  }
  .team {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .createTeam {
      padding: 25px 25px;
      :hover {
        color: rgba(0, 178, 45, 1);
      }
    }
    .joinTeam {
      padding: 25px 25px;
      :hover {
        color: rgba(0, 178, 45, 1);
      }
    }
    .userLogo {
    }
  }
}
